{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "DocumentDatabase": "Server=(localdb)\\mssqllocaldb;Database=ContosoDashboard;Trusted_Connection=True;"
  }
}
